.lesson{
    padding: 40px 50px;
    font-family: "Raleway", sans-serif;
    height: 750px;
}
.lessons .html,.css,.php,.java{
    margin-top: 20px;
    float: left;
    margin-right: 20px;
    text-align: center;
    box-shadow: 0 0 ;
    transition: all 0.5s;
    
    
}
.logo-lesson{
    text-align: center;
}
.lesson h3{
    text-align: center;
    border-bottom: 2px solid #7B7A7A;
    display: inline;
}
.lesson .html,.css,.php,.java{
    width: 48%;

}
.lesson img{
    height: 200px;
    opacity: 0.8;
}
.lesson .php-icon{
border-radius: 100%;
}

.lesson .html,.css,.php,.java{
    border: 1px solid rgba(59, 149, 240, 0.6);
    border-radius: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 300px;
    max-height: 350px;
}
.lesson-icon{
    position: relative;
}
.lesson-icon p{
    position: absolute;
    top: 20px;
    left: 47%;
    color: #fff;
    
}
.lesson-icon .javas{
    left: 41%;
}
.texts{
    width: 90%;
    margin-top: 10px;
    font-size: 13px;
    padding-left: 30px;
}
.lesson-icon a{
    color: inherit;
}
.lessons .html:hover,.css:hover,.php:hover,.java:hover{
    background-color: #111;
    transition: all 0.7s;
    color: #fff;
}