.welcome{
    background-image: url(https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29kZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
    background-size: cover;
    padding-top: 230px;
    padding-bottom: 250px;

}
.container{
    color: #fff;
    background: rgba(164, 161, 161, 0.2);
    text-align: center;
    padding-top: 0px;
    padding: 20px;
}
.text{
    border-bottom: 2px solid #7B7A7A;
    display: inline-block;
    letter-spacing: 4px;
    font-family: "Raleway", sans-serif;
}
.comant{
    padding-top: 10px;
    font-size: 20px;
    letter-spacing: 2px;
}
.comant p{
    padding-top: 3px;
}